<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="C5" version="2.4.5947.17249" targetFramework="net452" />
  <package id="Commons" version="0.2.3.508" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="MySql.Data" version="6.9.9" targetFramework="net452" />
  <package id="MySql.Data.Entity" version="6.9.9" targetFramework="net452" />
  <package id="Npgsql" version="2.2.7" targetFramework="net452" />
  <package id="Npgsql.EntityFramework" version="2.2.7" targetFramework="net452" />
</packages>